<section class="section-spacing">
  <div class="container narrow">
    <h1>{{ page.title | escape }}</h1>
    <div class="rte page-content">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Main page",
  "tag": "section",
  "settings": []
}
{% endschema %}
